<div class="container text-center">
    <div class="row justify-content-evenly align-items-center">
            <div class="col-auto"><h1>LOGIN DE ADMINISTRADOR</h1></div>
            <div class="col-auto"><a href="http://localhost:3001/"><button type="button" class="bi bi-house btn btn-danger"> VOLVER A HOME</button></a></div> 
    </div>
    <p class="text-center">Probar con usuario "victor" y pass="123" para logeo exitoso</p>

    <div class="container text-center">
        <div class="row">
            <form action="/admin/login" method="post" class="col">
                    {{!-- USUARIO --}}

                    <div class="input-group flex-wrap mt-5 justify-content-center">
                        <span class="input-group-text col-2" id="addon-wrapping">USUARIO: </span>
                        <span class="col-4"><input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" name="usuario"/></span>
                    </div>

                     {{!-- PASSWORD --}}
                    <div class="input-group flex-nowrap justify-content-center">
                        <span class="input-group-text col-2" id="addon-wrapping">CONTRASEÑA: </span>
                        <span class="col-4"><input type="password" placeholder="****" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" name="password"/></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-box-arrow-in-right"></i> Enviar </button>     
            </form>

        </div>

    </div>  
   
{{#if error}}
    <br><p>Usuario y/o contraseña incorrecto</p>
{{/if}}


</div>
