.header{
    grid-area: header;
    z-index: 1;
}
.flex{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo{
    display: flex;
    max-height: 80px;
    align-content: center;
    justify-content: center;
    padding: 10px;
}
.contenedor-redes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.img-redes{
    width: 20px;
    margin-right: 20px;
}