*{
   box-sizing: border-box;
}
.contenedor{
  display: grid;
  grid-template:
    "header header header" 80px
       "nav nav nav" auto
      "main main main" auto
      "footer footer footer" 200px/
      40% 40% 20%;

  justify-content: center;
}
.main{
  background-color: #c3cad6;
  grid-area: main;
}
.main h2{
  text-align: center;
  text-transform: uppercase;
}
.main button{
  border-radius: 10px;
  padding: 5px;
  width: fit-content;

}
.svg-blanco{
  fill: white; 
  margin: -15px;
}


